{% extends "regis\base.html" %}
{% block head %}
{% endblock %}
{% block title %} Canisius Super League {% endblock %}
{% block content %}
	<div class="container main archive">

		<h1> Terima Kasih Telah Mendaftar di CC Cup 2022 </h1>
		<p> Nama Tim : {{ band.teamname }} </p>
		<p> Sekolah : {{ band.school }} </p>
		<p> Nama Ketua : {{ band.leader }} </p>
		<p> Nomor Telepon : {{ band.phone }} </p>
		<p> Dokumen : <a href="{{ band.docs.url }}" target="_blank"> {{ band.docs }} </a> </p>

		<h2> Anggota Tim </h2>
		{% for member in band.member_set.all %}
			<p> Nama Anggota {{ forloop.counter }} : {{ member.name }} </p>
			<p> Kelas : {{ member.grade }} </p>
			<p> Tanggal Lahir : {{ member.birthday }} </p>
			<p> Peran dalam Band : {{ member.role }} </p>
		{% endfor %}

		<p> Apabila ada kesalahan dalam data tolong menghubungi tim admin di </p>
		<p> Tim Admin juga akan menghubungi untuk pembayaran </p>
		<p> Terima kasih </p>
	</div>
{% endblock %}