{% extends "regis\base.html" %}
{% block head %}
{% endblock %}
{% block title %} Canisius Super League {% endblock %}
{% block content %} 
	<div class="container main archive">

		<h1> Terima Kasih Telah Mendaftar di CC Cup 2022 </h1>
		<p> Nama : {{ participant.name }} </p>
		<p> Sekolah : {{ participant.school }} </p>
		<p> Kelas : {{ participant.grade }} </p>
		<p> Berat : {{ participant.weight }} </p>
		<p> Nomor Telepon : {{ participant.phone }} </p>
		<p> Tanggal Lahir : {{ participant.birthday }} </p>
		<p> Dokumen : <a href="{{ participant.docs.url }}" target="_blank"> {{ participant.docs }} </a> </p>
		
		<p> Apabila ada kesalahan dalam data tolong menghubungi tim admin di </p>
		<p> Tim Admin juga akan menghubungi untuk pembayaran </p>
		<p> Terima kasih </p>
	</div>
{% endblock %}