{% extends "regis\base.html" %}
{% block head %}
{% endblock %}
{% block title %} Registration {% endblock %}
{% block content %}  
<div class="container main">
    <h1 class="bold center"> CC Cup 2022 Registration Form </h1>
	<form class="container" action="{% url 'regis:data' field %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div>
			<label for="name"> Nama : </label> <label class="errortag"> {{ error_name }} </label>
			<input class="form-control" id="name" type="text" name="name" value="{{ current_name }}"> <br> 
		</div>
		<div class="form-group">
			<label for="school"> Sekolah : </label> <label class="errortag"> {{ error_school }} </label>
			<input class="form-control" id="school" type="text" name="school" value="{{ current_school }}"> <br>
		</div>
		<div class="form-group">
			<label for="grade"> Kelas : </label> <label class="errortag"> {{ error_grade }} </label>
			<select class="form-control" id="grade" name="grade">
			{% if current_grade == '' %}
			<option readonly="true" selected value=""> -- select an option -- </option>
			{% else %}
			<option readonly="true" value=""> -- select an option -- </option>
			{% endif %}
			{% for grade in GRADE_CHOICES %}
				{% if grade == current_grade %}
					<option value="{{ grade }}" selected> {{ grade }} </option>
				{% else %}
					<option value="{{ grade }}"> {{ grade }} </option>
				{% endif %}
			{% endfor %}
			</select> <br>
		</div>
        <div class="form-group">
            <label for="weight"> Berat : </label> <label class="errortag"> {{ error_weight }} </label>
            <input class="form-control" id="weight" type="text" name="weight" value="{{ current_weight }}"> <br>
        </div>
		<div class="form-group">
			<label for="phone"> Nomor Telepon : </label> <label class="errortag"> {{ error_phone }} </label>
			<input class="form-control" id="phone" type="text" name="phone" value="{{ current_phone }}"> <br>
		</div>
		<div class="form-group">
			<label for="birthday"> Tanggal Lahir : </label> <label class="errortag"> {{ error_birthday }} </label>
			<input class="form-control" id="birthday" type="date" name="birthday" value="{{ current_birthday }}"> <br>
		</div>
		<div class="form-group">
			<label for="docs"> Dokumen : </label> <label class="errortag"> {{ error_docs }} </label>
			<input class="form-control" id="docs" type="file" name="docs" value="{{ current_docs }}"> <br>
		</div>
		<input class="form-control submit" type="submit" value="OK">
	</form>
</div>
{% endblock %}