{% extends "regis\base.html" %}
{% block head %}
{% endblock %}
{% block title %} Canisius Super League {% endblock %}
{% block content %}
	<div class="container main archive">

		<h1> Terima Kasih Telah Mendaftar di CC Cup 2022 </h1>
		<p> Nama Tim : {{ team.teamname }} </p>
		<p> Sekolah : {{ team.school }} </p>
		<p> Nama Ketua : {{ team.leader }} </p>
		<p> Nomor Telepon : {{ team.phone }} </p>
		<p> Dokumen : <a href="{{ team.docs.url }}" target="_blank"> {{ team.docs }} </a> </p>

		<p> <b> Anggota Tim </b> </p>
		{% for member in team.member_set.all %}
			<p> Nama Anggota {{ forloop.counter }} : {{ member.name }} </p>
			<p> Kelas : {{ member.grade }} </p>
			<p> Tanggal Lahir : {{ member.birthday }} </p>
		{% endfor %}

		<p> Apabila ada kesalahan dalam data tolong menghubungi tim admin di </p>
		<p> Tim Admin juga akan menghubungi untuk pembayaran </p>
		<p> Terima kasih </p>
	</div>
{% endblock %}