{% extends "regis\base.html" %}
{% block head %}
{% endblock %}
{% block title %} Canisius Super League {% endblock %}
{% block content %}  
    <div class="container main">
		<h1 class="bold center"> CC Cup 2022 Registration Form </h1>
		<form class="container" action="{% url 'regis:data' field %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}

			<div class="form-group">
				<label for="teamname"> Nama Tim : </label> <label class="errortag"> {{ error_teamname }} </label>
				<input class="form-control" id="teamname" type="text" name="teamname" value="{{ current_teamname }}"> <br>
			</div>

			<div class="form-group">
				<label for="school"> Sekolah : </label> <label class="errortag"> {{ error_school }} </label>
				<input class="form-control" id="school" type="text" name="school" value="{{ current_school }}"> <br>
			</div>

			<div class="form-group">
				<label for="leader"> Nama Ketua : </label> <label class="errortag"> {{ error_leader }} </label>
				<input class="form-control" id="leader" type="text" name="leader" value="{{ current_leader }}"> <br>
			</div>

			<div class="form-group">
				<label for="phone"> Nomor Telepon Ketua : </label> <label class="errortag"> {{ error_phone }} </label>
				<input class="form-control" id="phone" type="text" name="phone" value="{{ current_phone }}"> <br>
			</div>

			<label> Jika ketua merupakan anggota tim juga, tolong dituliskan kembali dalam form </label> 
			<hr>

			{% for memberdata in TEAM %}
			<div class="form-group">

				<label for="membername_{{ forloop.counter }}"> Nama Anggota Tim {{ forloop.counter }} : </label>
				<label class="errortag"> {{ memberdata.error_name }} </label>
				<input class="form-control" id="membername_{{ forloop.counter }}" type="text"
						name="membername_{{ forloop.counter }}" value="{{ memberdata.name }}">

				<label for="membergrade_{{ forloop.counter }}"> Kelas : </label>
				<label class="errortag"> {{ memberdata.error_grade }} </label>
				<select class="form-control" id="membergrade_{{ forloop.counter }}" 
						name="membergrade_{{ forloop.counter }}">
				{% if memberdata.grade == "" %}
				<option readonly selected value=""> -- select an option -- </option>
				{% else %}
				<option readonly value=""> -- select an option -- </option>
				{% endif %}
				{% for grade in GRADE_CHOICES %}
					{% if grade == memberdata.grade %}
						<option value="{{ grade }}" selected> {{ grade }} </option>
					{% else %}
						<option value="{{ grade }}"> {{ grade }} </option>
					{% endif %}
				{% endfor %}
				</select>

				<label for="memberbirthday_{{ forloop.counter }}"> Tanggal Lahir : </label>
				<label class="errortag"> {{ memberdata.error_birthday }} </label>
				<input class="form-control" id="memberbirthday_{{ forloop.counter }}" type="date"
						name="memberbirthday_{{ forloop.counter }}" value="{{ memberdata.birthday }}">
				<br>
				<hr>
			</div>
			{% endfor %}

			<div class="form-group">
				<label for="docs"> Dokumen : </label> <label class="errortag"> {{ error_docs }} </label>
				<input class="form-control" id="docs" type="file" name="docs" value="{{ current_docs }}"> <br>
			</div>

			<input type="submit" class="form-control submit" value="OK">
		</form>
	</div>

    {% endblock %}
