{% extends "index\base.html" %}
{% block head %}
{% endblock %}
{% load static %}
{% block title %} Basket | CC Cup {% endblock %}
{% block content %}
	<p id="gap"></p>
	<div id="exp">
	<img src="{% static 'index/img/expand.png' %}" id="cpexpand">
	<div id="opsiexpand">
	<table id="layoutexp">
	<tr>
	<td colspan=2>Hilario</td>
	<td><a href="https://wa.me/6282122557545"><img src="{% static 'index/img/iconwa.png' %}" id="cpicon"></a></td>
	<td id="idline"><img src="{% static 'index/img/line.png' %}" id="cpicon"><div id="ket">hogan12345</div></td>
	</tr>
	<tr>
	<td colspan=2>Christian</td>
	<td><a href="https://wa.me/6287899888898"><img src="{% static 'index/img/iconwa.png' %}" id="cpicon"></a></td>
	<td id="idline"><img src="{% static 'index/img/line.png' %}" id="cpicon"><div id="ket">christianheinrich</div></td>
	</tr>
	</table>
	</div>
	</div>
	<h3>ATURAN BASKET</h3>
	<p id="judul">ATURAN BASKET</p>
	<p id="gap"></p>
	<div id="materi">
	<h4>PERATURAN UMUM</h4>
	<ol>
	<li>Anggota minimal dari 1 tim adalah 5 pemain dan maksimal adalah 12 pemain.</li>
	<li>Anggota tim merupakan siswa/siswi kelas 10/11/12 dan berasal dari satu sekolah yang sama.</li>
	<li>Peraturan yang digunakan dalam pertandingan bola basket CANISIUS COLLEGE CUP 2022 adalah peraturan PERBASI (Persatuan Basket Seluruh Indonesia) tahun 2020 yang sedang berlaku saat ini.</li>
	<li>Semua peserta wajib menaati dan menghormati segala keputusan wasit, keputusan wasit bersifat bulat dan tidak dapat diganggu gugat.</li>
	</ol><br>
	<h4>KETENTUAN PEMAIN</h4>
	<ol>
	<li>Setiap tim peserta bola  basket CANISIUS COLLEGE CUP 2022 wajib memiliki 1 kostum berwarna terang dan 1 kostum berwarna gelap.</li>
	<li>Apabila terjadi kesamaan warna kostum dalam 1 pertandingan, maka tim yang warna kostumnya tidak sesuai dengan posisi dalam jadwal akan diberikan kesempatan mencari kostum yang warnanya sesuai dengan jadwal dalam waktu 5 menit. Namun bila dalam 5 menit tim yang bersangkutan tidak mendapat kostum yang warnanya sesuai dengan yang sebagaimana terdapat dalam jadwal, maka tim tersebut dinyatakan walk out (kecuali warna dasar dari baju berbeda dan dapat dibedakan dengan jelas, serta pemain lawan tidak merasa keberatan dengan hal tersebut).</li>
	<li>Perubahan warna kostum diperbolehkan setelah melalui kesepakatan sebelumnya antara kedua tim yang bertanding, selama kostum yang digunakan dapat dibedakan dengan jelas.</li>
	<li>Kostum yang dipakai harus menggunakan nomor maksimal 2 digit. (00-99)</li>
	<li>Dalam 1 tim, setiap anggota diwajibkan memakai kostum yang seragam, baik celana maupun baju (nomor yang tertera pada 1 pemain untuk celana dan baju harus sama, tidak boleh berbeda).</li>
	<li>Tim yang ditulis / disebut terlebih dahulu, mengenakan kostum berwarna terang dan duduk di sebelah kiri meja pertandingan, sedangkan tim lawan mengenakan kostum berwarna gelap dan duduk disebelah kanan meja pertandingan (dilihat dari sisi meja).</li>
	<li>Anggota dari tim basket yang tidak menggunakan kostum yang sesuai dengan posisi dalam jadwal tidak diperkenankan mengikuti pertandingan. <b>(Yang disebut lebih dulu mengenakan baju terang. Contoh : A vs B ; A baju terang, B baju gelap).</b></li>
	<li>Panitia tidak menyediakan peminjaman kostum dan pihak tim harap memperhatikan tata tertib kostum ini dengan cermat.</li>
	<li>Tiap tim wajib hadir dengan minimal 5 pemain untuk mengikuti satu pertandingan, dan maksimal 12 pemain. Tim yang hadir dengan jumlah pemain 5 orang saja tetap diperbolehkan mengikuti pertandingan dari awal sampai akhir, namun segala konsekuensi yang ada ditanggung oleh tim yang bersangkutan.</li>
	<li>Apabila menjelang pertandingan dimulai dan jumlah pemain masih kurang dari 5 orang, akan diberikan kesempatan untuk menunggu pemain selama 5 menit. Jika setelah waktu yang diberikan jumlah pemain masih belum juga mencapai 5 orang, maka tim itu dikatakan walk out.</li>
	<li>Tim yang mengikuti pertandingan harus didampingi oleh pelatih, dan apabila pelatih berhalangan dapat digantikan oleh asisten pelatih.</li>
	<li>Peserta tim (termasuk pelatih dan asisten pelatih) tidak diperkenankan untuk mengikuti pertandingan apabila menggunakan segala jenis sandal.</li>
	<li>Atribut lain seperti topi (untuk pelatih), wrist band, head band, dll diperbolehkan sesuai dengan keputusan wasit.</li>
	</ol><br>
	<h4>PERATURAN PERTANDINGAN</h4>
	<ol>
	<li>Peraturan yang digunakan dalam pertandingan bola basket CANISIUS COLLEGE CUP 2022 adalah peraturan PERBASI (Persatuan Basket Seluruh Indonesia) tahun 2020 yang sedang berlaku saat ini.</li>
	<li>Semua peserta wajib menaati dan menghormati segala keputusan wasit, keputusan wasit bersifat bulat dan tidak dapat diganggu gugat.</li>
	</ol><br>
	<h4>LAMA PERTANDINGAN</h4>
	<ol>
	<li>Pertandingan bola basket menggunakan 4 quarters untuk babak penyisihan dan semifinal yang setiap quarternya berlangsung selama 10 menit (waktu kotor) dengan masa istirahat selama 1 menit diantara quarter.</li>
	<li>Jika pada akhir pertandingan babak grup terdapat skor sama, maka akan dilakukan overtime selama 1 x 5 menit (waktu kotor).</li>
	<li>Pada pertandingan final dan perebutan juara 3, menggunakan waktu 4x10 menit semi bersih (free throw dan time out waktu dimatikan).</li>
	<li>Jika pada akhir pertandingan final dan perebutan juara 3 terdapat skor sama, maka akan dilakukan overtime selama 1 x 5 menit (waktu semi bersih).</li>
	<li>Pada quarter ke-empat dan overtime seluruh pertandingan, dua menit terakhir menggunakan waktu bersih.</li>
	</ol><br>
	<h4>PERTANDINGAN TERTUNDA</h4>
	<ol>
	<li>Jika situasi / kondisi lapangan / cuaca tidak memungkinkan untuk dilanjutkan setelah menunggu selama 30 menit, makan pertandingan tersebut akan ditunda dan dilanjutkan pada hari yang ditentukan oleh panitia.</li>
	<li>Ketentuan untuk melanjutkan pertandingan tertunda:
	<ol type="a">
	<li>Apabila pertandingan tertunda pada quarter 1, maka pertandingan dimulai dari awal (hasil pertandingan sebelumnya dihapuskan).</li>
	<li>Apabila pertandingan tertunda pada quarter 2 atau 3, maka pertandingan dilanjutkan dengan sisa waktu dari pertandingan yang tertunda, tanpa menghapus hasil pertandingan sebelumnya.</li>
	<li>Apabila terjadi gangguan pada saat pertandingan quarter 4 berlangsung, maka pertandingan dinyatakan selesai dengan melihat skor akhir.</li>
	<li>Apabila terjadi gangguan pada saat pertandingan quarter 4 dan hasil skor sama, maka pertandingan akan dilanjutkan dengan sisa waktu yang ada pada hari berikutnya.</li>
	</ol>
	</li>
	</ol><br>
	<h4>KEHADIRAN</h4>
	<ol>
	<li>Setiap tim wajib hadir 30 menit sebelum jadwal pertandingan dimulai dan mengumpulkan id card.</li>
	<li>Apabila tim terlambat hadir lebih dari 10 menit dari jadwal yang telah ditentukan, maka tim tersebut akan dinyatakan walk out.</li>
	</ol><br>
	<h4>TEKNIS PERTANDINGAN</h4>
	<ol>
	<li>Panitia tidak menyediakan bola untuk pemanasan. Bola disediakan khusus untuk pertandingan saja.</li>
	<li>Bangku pemain hanya boleh diisi oleh pemain yang akan bertanding dan <i>official.</i></li>
	<li>Bola yang digunakan untuk pertandingan basket putra ialah bola <i>Molten</i> ukuran 7 (tipe GG7X), Untuk Pertandingan basket perempuan akan menggunakan bola <i>Molten</i> ukuran 6 (tipe GG6X).</li>
	<li>Satu tim berisikan maksimal 12 orang pemain dan minimal 5 orang pemain, masing-masing sekolah diperkenankan mengirim maksimal 1 tim putra dan 1 tim putri.</li>
	</ol><br>
	<h4>SISTEM PERTANDINGAN PUTRA</h4>
	<ol>
	<li>Tim akan dikelompokkan dalam sistem pool untuk putaran pertama.</li>
	<li>Tim tuan rumah dipisah kedalam pool berbeda (jika lebih dari 2 tim dan jika memungkinkan).</li>
	<li>Tim yang lolos ke putaran berikutnya (perempat final) adalah 2 (dua) tim teratas pada tiap-tiap pool.</li>
	<li>Pertandingan pada putaran kedua menggunakan sistem eliminasi, tim yang menang berhak lolos ke babak semifinal.</li>
	<li>Tim yang menang pada babak semifinal akan saling berhadapan pada babak final, sedangkan tim yang kalah akan saling berhadapan untuk memperebutkan juara ketiga.</li>
	</ol><br>
	<h4>SISTEM PERTANDINGAN PUTRI</h4>
	<ol>
	<li>Tim akan dikelompokkan dalam sistem eliminasi.</li>
	<li>Tim yang memenangkan babak pertama (quarterfinal) akan lanjut ke babak kedua (semifinal) dan yang kalah akan dieliminasi.</li>
	<li>Tim yang menang pada babak kedua (semifinal) akan saling berhadapan pada babak final, sedangkan tim yang kalah akan saling berhadapan untuk memperebutkan juara ketiga.</li>
	</ol><br>
	<h4>BAGAN PERTANDINGAN</h4>
	<img src="{% static 'index/img/baganbasket1.png' %}" id="bagan"><br><br>
	<img src="{% static 'index/img/baganbasket2.png' %}" id="bagan">
	<br><br>
	<h4>BABAK PEREMPAT FINAL</h4>
	<table id="penyisihan">
	<tr id="colorblue">
	<td id="col1">Q1</td><td>Juara Pool A Vs. Runner-up Pool C</td>
	</tr>
	<tr id="colorred">	
	<td id="col1">Q2</td><td>Juara Pool B Vs. Runner-up Pool D</td>
	</tr>
	<tr id="colorblue">
	<td id="col1">Q3</td><td>Juara Pool C Vs. Runner-up Pool A</td>
	</tr>
	<tr id="colorred">
	<td id="col1">Q4</td><td>Juara Pool D Vs. Runner-up Pool B</td>
	</tr>
	</table id="penyisihan"><br>
	<h4>BABAK SEMIFINAL</h4>
	<table id="penyisihan">
	<tr id="colorblue">
	<td id="col1">Semifinal I</td><td>Pemenang Q1 Vs. Pemenang Q2</td>
	</tr>
	<tr id="colorred">
	<td id="col1">Semifinal II</td><td>Pemenang Q3 Vs. Pemenang Q4</td>
	</tr>
	</table><br>
	<h4>BABAK FINAL DAN PEREBUTAN JUARA 3</h4>
	<table id="penyisihan">
	<tr id="colorblue">
	<td>Final</td><td>Pemenang Semifinal I Vs. Pemenang Semifinal II</td>
	</tr>
	<tr id="colorred">	
	<td>Perebutan Juara Ketiga</td><td>Tim kalah Semifinal I Vs. Tim kalah Semifinal II</td>
	</tr>
	</table>
	</div>
	<p id="gapm"></p>
{% endblock %}