{% extends "index\base.html" %}
{% block head %}
{% endblock %}
{% load static %}
{% block title %} Bulu Tangkis | CC Cup {% endblock %}
{% block content %}
	<p id="gap"></p>
	<div id="exp">
	<img src="{% static 'index/img/expand.png' %}" id="cpexpand">
	<div id="opsiexpand">
	<table id="layoutexp">
	<tr>
	<td colspan=2>Matthew</td>
	<td><a href="https://wa.me/628119909010"><img src="{% static 'index/img/iconwa.png' %}" id="cpicon"></a></td>
	<td id="idline"><img src="{% static 'index/img/line.png' %}" id="cpicon"><div id="ket">matthew1311</div></td>
	</tr>
	<tr>
	<td colspan=2>Vincenzo</td>
	<td><a href="https://wa.me/6281331876687"><img src="{% static 'index/img/iconwa.png' %}" id="cpicon"></a></td>
	<td id="idline"><img src="{% static 'index/img/line.png' %}" id="cpicon"><div id="ket">uneasyrobeliath7</div></td>
	</tr>
	</table>
	</div>
	</div>
	<h3>ATURAN BULU TANGKIS</h3>
	<p id="judul">ATURAN BULU TANGKIS</p>
	<p id="gap"></p>
	<div id="materi">
	<h4>PERATURAN UMUM</h4>
	<ol>
	<li>Para peserta sudah mendaftarkan diri sebagai peserta lomba Bulutangkis CC CUP 2022 melalui formulir pendaftaran dan bergabung ke grup <i>WhatsApp</i> CC CUP Bulu Tangkis.</li>
	<li>Peserta wajib untuk mematuhi Peraturan Umum CC CUP 2022 serta melengkapi syarat administrasi untuk mengikuti pertandingan.</li>
	<li>Peserta wajib mematuhi protokol kesehatan yang telah ditentukan di area Kolese Kanisius.</li>
	<li>Peserta yang mendaftar wajib mengikuti <i>technical meeting</i> dengan jadwal yang sudah ditentukan. Bila perwakilan peserta tidak hadir, maka akan dianggap sudah mengerti dan menyetujui peraturan-peraturan yang berlaku.</li>
	<li>Peserta wajib mengetahui dan mengerti peraturan pertandingan yang digunakan dalam sistematika pertandingan bulutangkis yaitu penyesuaian dari peraturan PBSI.</li>
	<li>Perlombaan CC CUP 2022 Bulutangkis akan dilaksanakan pada tanggal 5, 7-11 November 2022.</li>
	<li>Tim Peserta akan dinyatakan Walk Out (WO) jika:
	<ol type="a">
	<li>Tim peserta yang tidak hadir bertanding dinyatakan WO dengan skor 21-0 beserta kemenangan 2-0 dari tim peserta lawan.</li>
	<li>Tim peserta terlambat lebih dari 10 Menit dengan jadwal pertandingan yang ditetapkan oleh tim panitia.</li>
	<li>Anggota tim yang bertanding tidak sesuai dengan daftar peserta perlombaan Bulutangkis CC CUP 2022.</li>
	</ol>
	</li>
	<li>Tim Peserta akan dinyatakan Diskualifikasi jika:
	<ol type="a">
	<li>Tim peserta melakukan tindakan yang tidak sportif (berbuat curang, berkelahi, dsb).</li>
	<li>Tim peserta memprovokasikan perkelahian kepada tim peserta lainnya.</li>
	<li>Tim peserta merusak properti perlengkapan pertandingan Bulutangkis CC CUP 2022.</li>
	<li>Tim peserta melakukan pelanggaran lainnya secara sengaja maupun tidak sengaja (berdasarkan seberapa buruk pelanggarannya).</li>
	</ol>
	</li>
	</ol><br>
	<h4>KETENTUAN PEMAIN</h4>
	<ol>
	<li>Setiap sekolah mengirimkan 1 wakil tim sedangkan pihak tuan rumah boleh mengirimkan maksimal 2 tim (Tim A dan Tim B). Tim pertama akan mendapatkan prioritas lebih sendangkan tim kedua masuk ke dalam daftar tunggu dan akan dapat dimasukkan ke dalam daftar tim jika jumlah tim peserta kurang dari kuota.</li>
	<li>Setiap tim perwakilan sekolah terdiri dari 6-8 pemain (1 pemain single, 2 pasang pemain ganda, dan 1-3 pemain cadangan).</li>
	<li>Sebuah tim peserta terdiri dari pemain laki-laki.</li>
	<li>Tim peserta boleh didampingi oleh Guru Pelatih Olahraga/Bulutangkis masing-masing sekolah.</li>
	<li>Agar pertandingan yang dilaksanakan adil, maka siswa yang mengikuti sekolah bulutangkis <b><u>TIDAK</u></b> diperbolehkan mengikuti pertandingan CC CUP Bulu Tangkis 2022.</li>
	<li>Pakaian yang dikenakan tim peserta adalah baju olahraga dari sekolah masing-masing.</li>
	<li>Celana dibolehkan berbeda dan masih merupakan celana olahraga. Peserta yang tidak menggunakan kostum yang sudah ditentukan, tidak boleh mengikuti pertandingan atau terkena diskualifikasi.</li>
	<li>Atribut bermain seperti wrist band, head band, dan sebagainya diperbolehkan asal tidak mengganggu jalannya pertandingan dan sesuai dengan keputusan wasit.</li>
	<li>Jika atribut tersebut mengganggu jalannya pertandingan sesuai dengan keputusan wasit, maka atribut tersebut akan disita dan dikembalikan seusai pemain yang bersangkutan bertanding.</li>
	</ol><br>
	<h4>KUOTA TIM DAN PESERTA</h4>
	<ol>
	<li>Kuota tim peserta secara keseluruhan adalah 12 tim.</li>
	<li>Bila kuota tidak terpenuhi, maka sistem pertandingan akan disesuaikan dengan jumlah peserta dan waktu yang dibutuhkan. Perubahan tersebut akan disusun secara lebih lanjut.</li>
	</ol><br>
	<h4>PERATURAN PERTANDINGAN</h4>
	<ol>
	<li>Dalam sports hall akan terdapat 3 lapangan bulu tangkis yang akan digunakan merupakan tempat pelaksanaan perlombaan bulu tangkis.</li>
	<li>Penentuan lapangan yang akan digunakan terlampir dalam rundown dan akan dijelaskan secara lebih lanjut melalui <i>technical meeting</i>.</li>
	<li>Penentuan pool akan diundi melalui sesi <i>technical meeting</i>.</li>
	<li>Peraturan pertandingan yang digunakan disesuaikan dengan peraturan PBSI.</li>
	<li>Peserta diberikan waktu maksimal 3 menit untuk melakukan pemanasan sebelum pertandingan dimulai.</li>
	<li>Pemain yang melakukan pelanggaran secara sengaja (berkelahi, meludah, berkata kasar, dll) kepada wasit, panitia, sesama pemain maupun terhadap penonton akan diberikan hukuman yang akan ditentukan oleh panitia dan wasit pertandingan.</li>
	</ol><br>
	<h4>KEHADIRAN</h4>
	<ol>
	<li>Setiap tim wajib hadir 15 menit sebelum jadwal pertandingan dimulai dan mengumpulkan kartu peserta.</li>
	<li>Apabila tim terlambat hadir lebih dari 5 menit dari jadwal yang telah ditentukan, maka tim tersebut akan dinyatakan <i>walk out</i>.</li>
	</ol><br>
	<h4>TEKNIS PERTANDINGAN</h4>
	<ol type="A">
	<li><h5>TAHAP PENYISIHAN POOL</h5>
	<ol>
	<li>Seluruh tim perwakilan sekolah yang mengikuti pertandingan bulu tangkis akan dibagi menjadi 4 pool (Pool A, Pool B, Pool C, dan Pool D). Informasi bracket lebih lanjut akan dilampirkan oleh tim panitia.</li>
	<li>Setiap pertandingan pada tahap Penyisihan Pool akan bermain sebanyak 3 set sebanyak 21-21-11 poin.</li>
	<li>Sistem deuce akan dilaksanakan apabila kalau kedua tim berada dalam poin 20-20 dan berakhir pada angka 30. Pemenang match akan ditentukan jika sebuah tim mencapai keunggulan 2 poin dari tim lain.</li>
	<li>Pertandingan bulu tangkis akan melaksanakan sistem beregu yaitu dengan: Ganda 1, Tunggal, dan Ganda 2.</li>
	<li>Jika sebuah tim sudah memenangkan 2 set (Ganda 1 dan Tunggal) terlebih dahulu, maka set 3 (Ganda 2) tidak perlu dilaksanakan.</li>
	<li>Sistem Pertandingan Bulutangkis CC CUP 2022 adalah sistem <i>pool</i>.</li>
	<li>Pemenang dari sebuah pertandingan ditentukan jika sebuah tim peserta telah memenangkan pertandingan sebanyak 2 dari 3 pertandingan.</li>
	<li>Pada tahap Penyisihan Pool, 2 peserta tim dalam sebuah grup yang mendapatkan poin terbanyak akan berlanjut menuju tahap Semi-Final sedangkan yang lainnya akan dieliminasi.</li>
	<li>Sistem Permainan Babak Penyisihan Pool adalah sebagai berikut:
	<ol type="a">
	<li>Dalam setiap grup (Grup A dan Grup B), setiap anggota grup bertanding melawan satu sama lain sebanyak 1 kali.</li>
	<li>Sistem Poin:
	<table id="penyisihan">
	<tr id="headcatur">
	<td><b>Hasil</b></td>
	<td><b>Perolehan poin</b></td>
	</tr>
	<tr id="colorblue">
	<td>Menang dalam 2 match (Ganda 1 - Tunggal)</td>
	<td>3 poin</td>
	</tr>
	<tr id="jeda">
	<td>Menang dalam 3 match (Ganda 1 - Tunggal - Ganda 2)</td>
	<td>2 poin</td>
	</tr>
	<tr id="colorred">
	<td>Kalah</td>
	<td>0 poin</td>
	</tr>
	</table>
	</li>
	</ol>
	</li>
	</ol>
	</li>
	<li><h5>TAHAP SEMI-FINAL, PENENTUAN JUARA 3, DAN FINAL</h5>
	<ol>
	<li>Setiap pertandingan pada tahap Semi-Final, Penentuan Juara 3, dan Final akan bermain sebanyak 3 set sebanyak 21-21-21 poin.</li>
	<li>Sistem deuce akan dilaksanakan apabila kalau kedua tim berada dalam poin 20-20 dan berakhir pada angka 30. Pemenang match akan ditentukan jika sebuah tim mencapai keunggulan 2 poin dari tim lain.</li>
	<li>Pertandingan bulu tangkis akan melaksanakan sistem beregu yaitu dengan: Ganda 1- Tunggal - Ganda 2</li>
	<li>Jika sebuah tim sudah memenangkan 2 set (Ganda 1 dan Tunggal) terlebih dahulu, maka set 3 (Ganda 2) tidak perlu dilaksanakan.</li>
	<li>Pemenang dari sebuah pertandingan ditentukan jika sebuah tim peserta telah memenangkan pertandingan sebanyak 2 dari 3 pertandingan.</li>
	<li>Pada tahap Semi Final, tim pemenang akan berlanjut menuju tahap Final, sementara tim yang tidak menang akan tetap berkompetisi pada tahap Penentuan Juara 3.</li>
	<li>Pemenang dari tahap Final akan dinyatakan sebagai Juara 1 CC CUP 2022 dalam perlombaan bulu tangkis beserta Juara 2 dan 3 CC CUP 2022 dalam perlombaan bulu tangkis.</li>
	</ol>
	</ol><br>
	<h4>BAGAN PERTANDINGAN</h4>
	<img src="{% static 'index/img/baganbultang1.png' %}" id="bagan"><br><br>
	<img src="{% static 'index/img/baganbultang2.png' %}" id="bagan">
	<br><br>
	<h4>BABAK QUARTER FINAL</h4>
	<table id="penyisihan">
	<tr id="colorblue">
	<td id="col1">Q1</td><td>Juara Pool D Vs. Runner-up Pool B</td>
	</tr>
	<tr id="colorred">	
	<td id="col1">Q2</td><td>Juara Pool B Vs. Runner-up Pool A</td>
	</tr>
	<tr id="colorblue">
	<td id="col1">Q3</td><td>Juara Pool A Vs. Runner-up Pool C</td>
	</tr>
	<tr id="colorred">
	<td id="col1">Q4</td><td>Juara Pool C Vs. Runner-up Pool D</td>
	</tr>
	</table><br>
	<h4>BABAK SEMIFINAL</h4>
	<table id="penyisihan">
	<tr id="colorblue">
	<td id="col1">Semifinal I</td><td>Pemenang Q1 Vs. Pemenang Q2</td>
	</tr>
	<tr id="colorred">	
	<td id="col1">Semifinal II</td><td>Pemenang Q3 Vs. Pemenang Q4</td>
	</tr>
	</table><br>
	<h4>BABAK FINAL DAN PEREBUTAN JUARA 3</h4>
	<table id="penyisihan">
	<tr id="colorblue">
	<td>Final</td><td>Pemenang SF I Vs. Pemenang SF II</td>
	</tr>
	<tr id="colorred">	
	<td>Perebutan Juara Ketiga</td><td>Tim kalah SF I Vs. Tim kalah SF II</td>
	</tr>
	</table>
	</div>
	</div>
	<p id="gapm"></p>
{% endblock %}