{% extends "index\base.html" %}
{% block head %}
{% endblock %}
{% load static %}
{% block title %} Catur | CC Cup {% endblock %}
{% block content %}
	<p id="gap"></p>
	<div id="exp">
	<img src="{% static 'index/img/expand.png' %}" id="cpexpand">
	<div id="opsiexpand">
	<table id="layoutexp">
	<tr>
	<td colspan=2>Vincent</td>
	<td><a href="https://wa.me/628119410620"><img src="{% static 'index/img/iconwa.png' %}" id="cpicon"></a></td>
	<td id="idline"><img src="{% static 'index/img/line.png' %}" id="cpicon"><div id="ket">vincent.g.l.</div></td>
	</tr>
	</table>
	</div>
	</div>
	<h3>ATURAN CATUR</h3>
	<p id="judul">ATURAN CATUR</p>
	<p id="gap"></p>
	<div id="materi">
	<h4>PERATURAN UMUM</h4>
	<ol>
	<li>Peserta adalah laki-laki atau perempuan yang terdaftar sebagai peserta didik aktif di salah satu SMA atau sederajat di Indonesia yang telah mendaftarkan diri sebagai peserta pertandingan catur CC Cup 2022.</li>
	<li>Peserta diwajibkan untuk memakai seragam sekolah selama pertandingan berlangsung.</li>
	<li>Peserta wajib untuk menggunakan kartu peserta, identitas atau segala bentuk tanda pengenal yang menunjukkan validasi keikutsertaan lomba sebelum dan selama berada dalam area permainan.</li>
	</ol><br>
	<h4>PERATURAN PERTANDINGAN</h4>
	<ol>
	<li>Peraturan pertandingan yang akan digunakan adalah peraturan resmi dari FIDE.</li>
	<li>Kacamata sebaiknya tidak digunakan. Kerusakan kacamata selama pertandingan menjadi tanggung jawab pribadi.</li>
	<li>Peserta yang tidak mengikuti peraturan permainan seperti peraturan touch move, menggunakan tangan yang berbeda untuk menggerakan bidak dan menekan jam, menekan jam sebelum menggerakkan bidak, dll, maka akan dihitung sebagai pelanggaran. Setiap pelanggaran akan diperingatkan dan sebagai sanksinya, waktu lawan akan ditambahkan 1 menit.</li>
	<li>Peserta yang 3 kali melanggar peraturan akan dianggap kalah.</li>
	<li>Panitia akan menyediakan papan catur dan jam catur yang digunakan selama pertandingan.</li>
	<li>Peserta dilarang merusak sarana pertandingan seperti jam catur, papan catur, meja, dan kursi.</li>
	<li>Peserta diwajibkan untuk menjaga ketenangan selama berada di ruang pertandingan.</li>
	<li>Keputusan juri dan panitia tidak dapat diganggu gugat.</li>
	<li>Peserta yang tidak mengikuti peraturan akan dikenakan sanksi sesuai dengan keputusan panitia.</li>
	<li>Selama pertandingan, peserta dilarang menggunakan earphone, headphone, smartphone, dan perangkat elektronik lainnya yang dapat menyebabkan ketidakadilan dalam permainan.</li>
	<li>Peserta diperkenankan membawa minuman yang sewajarnya selama pertandingan berlangsung.</li>
	</ol><br>
	<h4>KUOTA PESERTA</h4>
	<ol>
	<li>Setiap sekolah diperkenankan mengirim minimal 1 peserta dan maksimal 2 peserta. </li>
	<li>Apabila sekolah mengirimkan lebih dari 1 peserta, maka peserta pertama akan menjadi pemain utama dan peserta kedua akan menjadi pemain cadangan. Pengecualian untuk SMA Kanisius, kedua pemain akan langsung dijadikan pemain utama.</li>
	<li>Peserta cadangan akan dimasukkan menjadi peserta utama apabila kuota pertandingan belum penuh 1 hari sebelum Technical Meeting.</li>
	<li>Kuota peserta pertandingan catur secara keseluruhan ada 32 peserta.</li>
	</ol><br>
	<h4>SISTEM PERTANDINGAN</h4>
	<ol>
	<li>Sistem pertandingan yang digunakan adalah sistem swiss.</li>
	<li>Setiap peserta akan bermain sebanyak 7 babak.</li>
	<li>Setiap babak terdiri dari 1 pertandingan dengan time control 20+5. Peserta akan mulai dengan waktu 20 menit dan akan ada pertambahan waktu 5 detik untuk setiap Langkah yang dibuat.</li>
	<li>Peserta yang telat datang ke pertandingan akan ditunggu 5 menit. Apabila peserta datang, maka pertandingan akan segera dimulai. Apabila setelah 5 menit peserta tidak kunjung datang, maka waktu yang bersangkutan akan dimulai. Apabila peserta datang maka dapat langsung melanjutkan permainan dengan waktu yang tersisa. Apabila waktu habis sebelum peserta datang maka peserta dinyatakan kalah.</li>
	<li>Untuk setiap babak, peserta yang menang akan mendapatkan 1 poin. Peserta yang seri/draw akan mendapatkan 0.5 poin. Peserta yang kalah akan mendapatkan 0 poin.</li>
	<li>Kemenangan ditentukan oleh poin yang paling banyak.</li>
	<li>Apabila ada beberapa peserta yang memiliki skor yang sama, maka pemenang akan ditentukan dengan skor Sonneborn Berger.</li>
	</ol><br>
	<h4>JADWAL PERTANDINGAN</h4>
	Pertandingan akan dilaksanakan selama 2 hari, 5 November 2022 dan 7 November 2022. Untuk waktu pertandingan secara rinci dapat dilihat pada tabel berikut:
	<div style="display:table">
	<table id="penyisihan">
	<tr>
	<td colspan=4 id="headcatur"><b>Hari 1 (5 November 2022)</b></td>
	</tr>
	<tr style="background-color:gray">	
	<td>No</td><td>Waktu</td><td>Durasi</td><td>Kegiatan</td>
	</tr>
	<tr id="jeda">
	<td>1</td><td>10:00-11:00</td><td>01:00</td><td>Persiapan Panitia</td>
	</tr>
	<tr id="colorblue">	
	<td>2</td><td>11:00-12:00</td><td>01:00</td><td>Ronde 1</td>
	</tr>
	<tr id="colorred">	
	<td>3</td><td>12:00-12:15</td><td>00:15</td><td>Istirahat</td>
	</tr>
	<tr  id="colorblue">	
	<td>4</td><td>12:15-13:15</td><td>01:00</td><td>Ronde 2</td>
	</tr>
	<tr id="colorred">	
	<td>5</td><td>13:15-13:30</td><td>00:15</td><td>Istirahat</td>
	</tr>
	<tr id="colorblue">
	<td>6</td><td>13:30-14:30</td><td>01:00</td><td>Ronde 3</td>
	</tr>
	<tr  id="colorred">	
	<td>7</td><td id="penyisihan">14:30-14:45</td><td>00:15</td><td>Istirahat</td>
	</tr>
	<tr id="colorblue">	
	<td>8</td><td>14:45-15:45</td><td>01:00</td><td>Ronde 4</td>
	</tr>
	</table>
	<div style="width:10%; display:table-cell"></div>
	<table id="penyisihan">
	<tr>
	<td colspan=4 id="headcatur"><b>Hari 2 (7 November 2022)</b></td>
	</tr>
	<tr style="background-color:gray">	
	<td>No</td><td>Waktu</td><td>Durasi</td><td>Kegiatan</td>
	</tr>
	<tr id="jeda">	
	<td>1</td><td>13:30-14:00</td><td>00:30</td><td>Persiapan Panitia</td>
	</tr>
	<tr id="colorblue">	
	<td>2</td><td>14:00-15:00</td><td>01:00</td><td>Ronde 5</td>
	</tr>
	<tr id="colorred">	
	<td>3</td><td>15:00-15:15</td><td>00:15</td><td>Istirahat</td>
	</tr>
	<tr id="colorblue">	
	<td>4</td><td>15:15-16:15</td><td>01:00</td><td>Ronde 6</td>
	</tr>
	<tr id="colorred">	
	<td>5</td><td>16:15-16:30</td><td>00:15</td><td>Istirahat</td>
	</tr>
	<tr id="colorblue">	
	<td>6</td><td>16:30-17:30</td><td>01:00</td><td>Ronde 7</td>
	</tr>
	</tr>
	</table>
	</div>
	</div>
	<p id="gapm"></p>
{% endblock %}