{% extends "index\base.html" %}
{% block head %}
{% endblock %}
{% load static %}
{% block title %} Fotografi | CC Cup {% endblock %}
{% block content %}
	<p id="gap"></p>
		<div id="exp">
	<img src="{% static 'index/img/expand.png' %}" id="cpexpand">
	<div id="opsiexpand">
	<table id="layoutexp">
	<tr>
	<td colspan=2>Zefanya</td>
	<td><a href="https://wa.me/6281299452691"><img src="{% static 'index/img/iconwa.png' %}" id="cpicon"></a></td>
	<td id="idline"><img src="{% static 'index/img/line.png' %}" id="cpicon"><div id="ket">zefa05nya</div></td>
	</tr>
	<tr>
	<td colspan=2>Alphatar</td>
	<td><a href="https://wa.me/628195140106"><img src="{% static 'index/img/iconwa.png' %}" id="cpicon"></a></td>
	<td id="idline"><img src="{% static 'index/img/line.png' %}" id="cpicon"><div id="ket">alphatartambunan</div></td>
	</tr>
	</table>
	</div>
	</div>
	<h3>ATURAN FOTOGRAFI</h3>
	<p id="judul">ATURAN FOTOGRAFI</p>
	<p id="gap"></p>
	<div id="materi">
	<h4>PERATURAN UMUM</h4>
	<ol>
	<li>Tema foto lomba fotografi CC Cup 2022 adalah <i>Sine Timore aut Favore</i>.</li>
	<li>Foto yang diikutsertakan harus orisinil, tidak berupa rekayasa, duplikat, replika, maupun reproduksi.</li>
	<li>Foto yang diikutsertakan tidak mengandung SARA dan pornografi maupun melanggar undang-undang yang berlaku.</li>
	<li>Pengambilan foto wajib dilakukan di area pelaksanaan CC Cup 2022.</li>
	<li>Pengambilan foto dimulai pada 5 November 2022 dan selesai pada 11 November 2022, pukul 17:00 WIB.</li>
	<li>Foto yang diikutsertakan boleh melalui proses editing. Teknik editing yang diperkenankan adalah <i>cropping</i>, <i>rotating</i>, <i>exposure</i>, <i>contrast</i>, dan <i>highlights</i> dalam batas yang wajar.</li>
	<li>Semua karya peserta akan menjadi hak milik Panitia CC Cup 2022.</li>
	<li>Para pemenang lomba fotografi diumumkan pada tanggal 11 November 2022.</li>
	<li>Panitia berhak menggugurkan karya foto yang tidak sesuai dengan peraturan lomba.</li>
	<li>Keputusan panitia bersifat mutlak dan tidak dapat diganggu gugat.</li>
	</ol><br>
	<h4>KETENTUAN PESERTA</h4>
	<ol>
	<li>Peserta lomba fotografi CC Cup 2022 merupakan siswa/siswi SMA maupun umum.</li>
	</ol><br>
	<h4>PERATURAN PENGUMPULAN FOTO</h4>
	<ol>
	<li>Foto dikumpulkan dalam bentuk <i>post feed</i> Instagram.</li>
	<li>Peserta lomba wajib mengumpulkan foto secara tepat waktu.</li>
	<li>Peserta lomba wajib memberi caption dengan format sebagai berikut:<br><br>
	<i>[Judul Foto]</i><br><br>
	<i>[Deskripsi]</i><br><br>
	@canisiuscollegecup<br>
	#FotografiCCCup2022 #SineTimoreAutFavore
	</li><br>
	<li>Akun Instagram yang digunakan sebagai media pengumpulan foto harus bersifat <i>public</i>.</li>
	<li>Akun Instagram yang digunakan sebagai media pengumpulan foto harus mengikuti akun instagram @canisiuscollegecup.</li>
	<li>Pemenang lomba fotografi akan dihubungi oleh panitia melalui direct message akun Instagram @canisiuscollegecup.</li>
	<li>Pemenang lomba fotografi wajib hadir di <i>closing ceremony</i> CC Cup 2022 untuk menerima hadiah pada saat pengumuman pemenang.</li>
	</ol><br>
	<h4>KRITERIA PENILAIAN</h4>
	<ol>
	<li>Konsep foto</li>
	<li>Komposisi foto</li>
	<li>Teknik pengambilan</li>
	<li>Pemilihan objek</li>
	<li>Makna/pesan yang disampaikan</li>
	</ol>
	</div>
	<p id="gapm"></p>
{% endblock %}