{% extends "index\base.html" %}
{% block head %}
{% endblock %}
{% load static %}
{% block title %} Futsal | CC Cup {% endblock %}
{% block content %}
	<p id="gap"></p>
	<div id="exp">
	<img src="{% static 'index/img/expand.png' %}" id="cpexpand">
	<div id="opsiexpand">
	<table id="layoutexp">
	<tr>
	<td colspan=2>Theo</td>
	<td><a href="https://wa.me/6285102603351"><img src="{% static 'index/img/iconwa.png' %}" id="cpicon"></a></td>
	<td id="idline"><img src="{% static 'index/img/line.png' %}" id="cpicon"><div id="ket">thrgvn</div></td>
	</tr>
	<tr>
	<td colspan=2>Roa</td>
	<td><a href="https://wa.me/6281808372497"><img src="{% static 'index/img/iconwa.png' %}" id="cpicon"></a></td>
	<td id="idline"><img src="{% static 'index/img/line.png' %}" id="cpicon"><div id="ket">christianr.v0112</div></td>
	</tr>
	</table>
	</div>
	</div>
	<h3>ATURAN FUTSAL</h3>
	<p id="judul">ATURAN FUTSAL</p>
	<p id="gap"></p>
	<div id="materi">
	<h4>PERATURAN UMUM</h4>
	<ol>
	<li>Setiap sekolah hanya diperbolehkan mengirim satu tim, kecuali tim tuan rumah.</li>
	<li>Setiap tim diharapkan mempunyai seragam tim untuk kandang dan tandang sesuai dengan keperluan. Panitia telah menyiapkan rompi jika tim tidak memiliki seragam tandang.</li>
	<li>Seragam tim diwajibkan memiliki nomor punggung dan nomor punggung tidak dapat berubah selama berlangsungnya Canisius College Cup 2022.</li>
	<li>Warna seragam penjaga gawang diharapkan berbeda dengan warna seragam pemain. Jika sama, penjaga gawang wajib mengenakan rompi yang disediakan panitia.</li>
	<li>Setiap tim hadir di lapangan 15 menit sebelum pertandingan dimulai.</li>
	<li>Setiap tim wajib didampingi oleh pelatih, official, atau guru pendamping.</li>
	<li>Setiap tim harap mengisi daftar susunan pemain yang disediakan panitia sebelum pertandingan dan menyerahkan kartu peserta yang sesuai dengan pemain.</li>
	<li>Minimal pemain di dalam lapangan pada saat kick off dimulai adalah 3 (tiga) pemain dari masing-masing tim, jika kurang dari jumlah pemain minimal yang telah ditentukan tim yang bersangkutan diputuskan WO tanpa toleransi. Skor pertandingan tersebut adalah 3-0 untuk tim yang sudah datang.</li>
	<li>Toleransi waktu keterlambatan adalah 3 (tiga) menit dari jadwal yang telah ditentukan. Jika melebihi toleransi yang diberikan skor pertandingan tersebut adalah 3-0 untuk tim yang sudah datang.</li>
	<li>Tim yang sudah bertanding segera meninggalkan lapangan paling lama 3 (tiga) menit setelah pertandingan usai.</li>
	</ol><br>
	<h4>KETENTUAN PEMAIN</h4>
	<ol>
	<li>Pemain Wajib membawa kartu peserta disertai dengan foto terbaru selama Canisius College Cup 2022 (Peserta wajib masih berstatus pelajar dan terdaftar sebagai siswa di sekolah tersebut). Jika ada pemain yang tidak membawa kartu peserta berserta foto, dilarang bermain.</li>
	<li>Kacamata sebaiknya tidak digunakan. Kerusakan kacamata selama pertandingan menjadi tanggung jawab pribadi.</li>
	<li>Disarankan untuk pemain yang berambut panjang untuk menggunakan head band, agar tidak mengganggu pemain lawan.</li>
	<li>Dilarang keras menggunakan segala jenis obat-obatan (doping).</li>
	<li>Tidak memicu keributan sebelum, saat, dan setelah pertandingan.</li>
	<li>Selebrasi gol tidak dilakukan berlebihan dan tidak memancing pemain lawan dan atau suporter tim lawan (seperti merayakan selebrasi di depan suporter tim lawan). Jika hal ini dilanggar, wasit berhak memberikan kartu kuning kepada pemain yang bersangkutan.</li>
	</ol><br>
	<h4>ATURAN PRIBADI</h4>
	<ol>
	<li>Pemain yang akan bertanding wajib mengenakan:
	<ol type="a">
	<li>Seragam tim dengan rapi</li>
	<li>Pelindung tulang kering untuk keselamatan pribadi (Deker)</li>
	<li>Sepatu futsal</li>
	</li>
	</ol>
	<li>Pemain yang akan bertanding dilarang mengenakan:
	<ol type="a">
	<li>Segala jenis perhiasan</li>
	<li>Barang-barang yang dapat mencederai pemain lain</li>
	</ol>
	</li>
	<li>Jika pemain tidak mengenakan barang-barang yang diwajibkan pada butir (1), pemain yang bersangkutan tidak boleh bertanding atau diberi sanksi oleh wasit. Jika pemain tertangkap menyembunyikan barang-barang yang tidak boleh dikenakan pada butir (2), pemain yang bersangkutan diberikan kartu merah.</li>
	<li>Pemain yang bertanding disarankan membawa sandal untuk dikenakan setelah selesai bertanding.</li>
	<li>Pemain diwajibkan untuk menjaga ketertiban dan kebersihan.</li>
	</ol><br>
	<h4>KUOTA TIM DAN PESERTA</h4>
	<ol>
	<li>Kuota maksimal tim cabang futsal adalah 12 tim. Bila tim yang mendaftar melebihi kuota yang ada, maka tim yang akan diikutsertakan dalam Canisius College Cup 2022 adalah tim yang mendaftar terlebih dahulu.</li>
	<li>Setiap tim memiliki paling banyak 12 pemain dengan 5 (lima) pemain yang bertanding dan 7 (tujuh) pemain cadangan.</li>
	</ol><br>
	<h4>OFFICIAL ATAU PENDAMPING</h4>
	<ol>
	<li>Tim yang bertanding diwajibkan didampingi minimal 1 (satu) orang pelatih atau pendamping. Hal ini untuk meminimalisir risiko keributan.</li>
	</ol><br>
	<h4>PERATURAN PERTANDINGAN</h4>
	<ol>
	<li>Secara keseluruhan, aturan permainan yang diterapkan sesuai dengan aturan futsal dari FIFA sebagai Federasi Futsal Internasional, kecuali yang telah ditentukan oleh panitia.</li>
	<li>Pergantian pemain dapat dilakukan sebebasnya dan dalam satu pertandingan, pemain yang telah diganti dapat dimasukan kembali.</li>
	<li>Pemain yang mendapatkan kartu merah langsung akan dikenakan sanksi larangan tanding sebanyak 2 (dua) pertandingan berikutnya, dan tim yang pemainnya terkena kartu merah baru bisa memasukkan pemain pengganti 1 menit setelah kartu merah diberikan, kecuali sebelum 1 menit itu terjadi sebuah gol maka tim tersebut berhak untuk memasukan pemain pengganti.</li>
	<li>Pemain yang mendapatkan 2 (dua) kartu kuning dalam 1 (satu) pertandingan dan berujung kartu merah akan dikenakan sanksi larangan tanding sebanyak 1 (satu) pertandingan berikutnya.</li>
	<li>Jumlah pemain yang bertanding dari setiap tim dalam sebuah pertandingan adalah 5 (lima) pemain termasuk 1 (satu) penjaga gawang.</li>
	<li>Di dalam 1 hari, terdapat kemungkinan sebuah tim bertanding sebanyak 2 (dua) kali.</li>
	<li>Gol yang dicetak dari sentuhan pertama saat <i>kick-off</i> dinyatakan sah.</li>
	<li>Gol yang berawal dari <i>goal-kick</i> dinyatakan tidak sah, tetapi jika tersentuh pemain lawan maupun pemain dari tim sendiri sebelum bola melewati garis gawang, dinyatakan sah.</li>
	<li>Keputusan panitia/wasit bersifat mutlak.</li>
	</ol><br>
	<h4>SISTEM PERTANDINGAN</h4>
	<ol>
	<li>Pada putaran pertama, pertandingan menggunakan sistem pool dengan waktu pertandingan 2 x 10 menit (waktu kotor).</li>
	<li>Berikut poin yang didapatkan masing-masing tim jika:
	<table id="penyisihan">
	<tr id="headcatur">
	<td><b>Hasil</b></td>
	<td><b>Perolehan poin</b></td>
	</tr>
	<tr id="colorblue">
	<td>Menang</td>
	<td>3 (tiga) poin</td>
	</tr>
	<tr id="jeda">
	<td>Seri</td>
	<td>1 (satu) poin</td>
	</tr>
	<tr id="colorred">
	<td>Kalah</td>
	<td>0 (nol) poin</td>
	</tr>
	</table>
	</li>
	<li>Tim tuan rumah dipisah kedalam pool berbeda (jika lebih dari 2 tim dan jika memungkinkan).</li>
	<li>Tim yang lolos ke putaran berikutnya adalah juara dan runner-up pool serta 2 (dua) tim peringkat ketiga terbaik.</li>
	<li>Pada putaran kedua, pertandingan menggunakan sistem gugur dengan waktu pertandingan babak perempat final 2 x 10 menit (waktu kotor), sedangkan waktu pertandingan babak semifinal dan final 2 x 15 menit (waktu kotor).</li>
	<li>Tim dari pool yang sama tidak akan berhadapan kembali.</li>
	<li>Tim yang menang pada babak perempat final akan saling berhadapan pada babak semifinal, sedangkan tim yang kalah akan gugur.</li>
	<li>Tim yang menang pada babak semifinal akan saling berhadapan pada babak final, sedangkan tim yang kalah akan saling berhadapan untuk memperebutkan juara ketiga.</li>
	<li>Apabila skor kedua tim sama setelah waktu normal selesai, pertandingan akan dilanjutkan ke babak adu penalti dengan 5 penendang, kecuali pada babak semifinal dan final pertandingan dilanjutkan ke babak extra time dengan waktu 1 x 5 menit (waktu kotor) terlebih dahulu.</li>
	</ol>
	<h4>PERTANDINGAN TERTUNDA</h4>
	<ol>
	<li>Jika situasi / kondisi lapangan / cuaca tidak memungkinkan untuk dilanjutkan setelah menunggu selama 30 menit, maka pertandingan tersebut akan ditunda dan dilanjutkan pada hari yang ditentukan oleh panitia.</li>
	<li>Ketentuan untuk melanjutkan pertandingan tertunda:
	<ol type="a">
	<li>Apabila pertandingan tertunda pada babak pertama atau kedua, maka pertandingan dilanjutkan dengan sisa waktu dari pertandingan yang tertunda, tanpa menghapus hasil pertandingan sebelumnya.</li>
	</ol>
	</ol><br>
	<h4>KEHADIRAN</h4>
	<ol>
	<li>Setiap tim wajib hadir 30 menit sebelum jadwal pertandingan dimulai dan mengumpulkan kartu peserta.</li>
	<li>Apabila tim terlambat hadir lebih dari 5 menit dari jadwal yang telah ditentukan, maka tim tersebut akan dinyatakan <i>walk out</i>.</li>
	</ol><br>
	<h4>TEKNIS PERTANDINGAN</h4>
	<ol>
	<li>Panitia menyediakan bola untuk pemanasan.</li>
	<li>Bangku pemain hanya boleh diisi oleh pemain yang akan bertanding dan <i>official</i>.</li>
	</ol><br>
	<h4>BAGAN PERTANDINGAN</h4>
	<img src="{% static 'index/img/baganfutsal.png' %}" id="bagan"><br><br>
	<img src="{% static 'index/img/baganfutsal2.png' %}" id="bagan">
	<br><br>
	<h4>BABAK PEREMPAT FINAL</h4>
	<table id="penyisihan">
	<tr id="colorblue">
	<td id="col1">QF 1</td><td>Juara Pool C vs. WildCard Pool A/B</td>
	</tr>
	<tr id="colorred">	
	<td id="col1">QF 2</td><td>Juara Pool B vs. Runner-up Pool A</td>
	</tr>
	<tr id="colorblue">
	<td id="col1">QF 3</td><td>Juara Pool A vs. WildCard Pool B/C</td>
	</tr>
	<tr id="colorred">
	<td id="col1">QF 4</td><td>Runner-Up Pool B vs. Runner-up Pool C</td>
	</tr>
	</table><br>
	<h4>BABAK SEMIFINAL</h4>
	<table id="penyisihan">
	<tr id="colorblue">
	<td id="col1">Semifinal I</td><td>Pemenang QF 1 Vs. Pemenang QF 2</td>
	</tr>
	<tr id="colorred">	
	<td id="col1">Semifinal II</td><td>Pemenang QF 3 Vs. Pemenang QF 4</td>
	</tr>
	</table><br>
	<h4>BABAK FINAL DAN PEREBUTAN JUARA 3</h4>
	<table id="penyisihan">
	<tr id="colorblue">
	<td>Final</td><td>Pemenang SF I Vs. Pemenang SF II</td>
	</tr>
	<tr id="colorred">	
	<td>Perebutan Juara Ketiga</td><td>Tim kalah SF I Vs. Tim kalah SF II</td>
	</tr>
	</table>
	</div>

	<p id="gapm"></p>
{% endblock %}