{% extends "index\base.html" %}
{% block head %}
{% endblock %}
{% load static %}
{% block title %} Modern Dance | CC Cup {% endblock %}
{% block content %}
	<p id="gap"></p>
		<div id="exp">
	<img src="{% static 'index/img/expand.png' %}" id="cpexpand">
	<div id="opsiexpand">
	<table id="layoutexp">
	<tr>
	<td colspan=2>Davyn</td>
	<td><a href="https://wa.me/628118336214"><img src="{% static 'index/img/iconwa.png' %}" id="cpicon"></a></td>
	<td id="idline"><img src="{% static 'index/img/line.png' %}" id="cpicon"><div id="ket">marvellodavyn_21</div></td>
	</tr>
	<tr>
	<td colspan=2>Sebastian</td>
	<td><a href="https://wa.me/6281296330355"><img src="{% static 'index/img/iconwa.png' %}" id="cpicon"></a></td>
	<td id="idline"><img src="{% static 'index/img/line.png' %}" id="cpicon"><div id="ket">sebastiancc20</div></td>
	</tr>
	</table>
	</div>
	</div>
	<h3>ATURAN MODERN DANCE</h3>
	<p id="judul">ATURAN MODERN DANCE</p>
	<p id="gap"></p>
	<div id="materi">
	<h4>PERATURAN UMUM</h4>
	<ol>
	<li>Peserta lomba adalah siswa dan/atau siswi SMA atau sederajat tingkat nasional.</li>
	<li>Peserta harus mengisi formulir pendaftaran dan melampirkan fotokopi kartu pelajar dan bukti screenshoot dari <a href="https://nisn.data.kemdikbud.go.id/" style="color:white;">https://nisn.data.kemdikbud.go.id/</a>.</li>
	<li>Peserta wajib melakukan pembayaran uang pendaftaran dan WO.</li>
	<li>Peserta diwajibkan untuk hadir di sporthall Kolese Kanisius tepat waktu, sesuai dengan jadwal yang sudah diberikan.</li>
	<li>Peserta wajib menginformasikan kepada pihak panitia apabila terdapat kendala, untuk menghindari hal – hal yang tidak diinginkan.</li>
	<li>Peserta dikenakan kekalahan atau WO (Walk Over) apabila:
	<ol type="a">
	<li>Peserta tidak datang pada waktu penampilan yang ditentukan</li>
	<li>Peserta yang bertanding tidak sesuai dengan data yang sudah terdaftar di sekretariat sebagai peserta perlombaan Modern Dance CC Cup 2022 yang sah.</li>
	<li>Peserta tidak menggunakan pakaian yang sesuai dengan norma yang berlaku. (Berdasarkan keputusan juri)</li>
	<li>Peserta tidak membawa kartu pertandingan pada saat pertandingan akan dilakukan.</li>
	</ol>
	</li>
	</ol><br>
	<h4>PERATURAN KHUSUS</h4>
	<ol>
	<li>Peserta dipersilahkan untuk melepaskan masker saat penampilan di sporthall, <b>sebelum atau sesudah penampilan wajib menggunakan masker.</b></li>
	<li>Undian penampilan akan dilakukan pada Technical meeting untuk urutan penampilan peserta.</li>
	<li>Pemberian Lagu pengiring penampilan disimpan dalam format MP3/ Flash Disk/CD/ Drive Online pada saat Technical meeting.</li>
	<li>Peserta lomba harus menyediakan lagu pengiring cadangan pada hari pelaksanaan lomba.</li>
	</ol><br>
	<h4>KETENTUAN PESERTA</h4>
	<ol type="A">
	<li><h5>KRITERIA PESERTA</h5>
	<ol>
	<li>Peserta yang berhak mengikuti perlombaan Modern Dance CC Cup 2022 adalah siswa-siswi SMA dan sederajat yang besaral dari sekolah yang sama. </li>
	<li>Peserta yang mewakili sekolah bersangkutan tidak boleh berasal dari gabungan yayasan yang sama.</li>
	<li>Perlombaan Modern Dance CC Cup 2022 terbuka untuk pelajar putra dan putri.</li>
	<li>Bagi individu yang tidak memenuhi syarat-syarat di atas tidak diperkenankan untuk berpartisipasi dalam CC Cup 2022.</li>
	</ol>
	</li>
	<li><h5>KRITERIA KELOMPOK</h5>
	<ol>
	<li>Pelombaan Modern Dance CC Cup 2022 menggunakan sistem kelompok.</li>
	<li>Setiap kelompok beranggotakan minimal 5 orang dan maksimal 12 orang.</li>
	<li>Komposisi kelompok bebas, boleh semua anggotanya laki-laki, boleh sebaliknya ataupun campur.</li>
	</ol>
	</li>
	</ol><br>
	<h4>PERATURAN PERLOMBAAN</h4>
	<ol type="A">
	<li><h5>SISTEM POIN</h5>
	<ol>
	<li>Penilaian penampilan menggunakan sistem poin. Kriteria yang dinilai berskala dari 1-100 (Skor Maksimal = 500) dimana terdiri dari 5 aspek yaitu Creativity (choreo, konseptual), Musicality (dance approach, respond), Showmanship (blocking, power), Technicality (formasi gerak, eksekusi, variation, foundation), dan Costume.</li>
	<li>Bagi peserta yang tidak memenuhi ketentuan durasi akan mendapatkan pengurangan poin dari juri. </li>
	</ol>
	</li>
	<li><h5>KOSTUM</h5>
	<ol>
	<li>Kostum yang digunakan oleh peserta bebas, dengan syarat wajib memperhatikan norma yang berlaku.</li>
	</ol>
	</li>
	<li><h5>KETENTUAN PENAMPILAN</h5>
	<ol>
	<li>Durasi penampilan minimal 3 menit dan maksimal 8 menit.</li>
	<li>Penampilan dibuat sekreatif dan semenarik mungkin.</li>
	<li>Tim sudah harus bersiap 15 menit sebelum tampil. Batas pemanggilan adalah 4 kali dalam durasi waktu 5 menit. Jika melewati batas waktu tersebut peserta dianggap telah mengundurkan diri dan dinyatakan terdiskualifikasi.</li>
	</ol>
	</li>
	</ol><br>
	<h4>KUOTA PESERTA</h4>
	<ol>
	<li>Kuota Peserta pada perlombaan Modern Dance ini adalah 16 tim.</li>
	<li>Setiap sekolah, maksimal mengirimkan 2 kelompok untuk bertanding pada cabang Modern Dance CC Cup 2022.</li>
	<li>Tim tuan rumah diperbolehkan mengirimkan maksimal dua tim untuk bertanding pada cabang perlombaan Modern Dance CC Cup 2022.</li>
	</ol><br>
	<h4>SISTEM PERLOMBAAN</h4>
	Perlombaan Modern Dance akan terbagi menjadi 1 tahap, yaitu tahap penilaian oleh juri.
	<ol type="A">
	<li><h5>TAHAP PENILAIAN</h5>
	<ol>
	<li>Tahap penilaian akan dilakukan pada hari Kamis 10 November 2022 dan Jumat 11 November 2022.</li>
	<li>Tahap penilaian ini hanya akan dilakukan pada satu hari dan tidak ada babak penyisihan.</li>
	<li>Peserta perlombaan Modern Dance CC Cup 2022 diharapkan hadir tepat waktu.</li>
	<li>Keputusan dewan juri bersifat mutlak dan tidak dapat diganggu gugat.</li>
	<li>Dari seluruh peserta yang bertanding akan diambil juara I, II, III, dan juara favorit.</li>
	<li>Pengumuman pemenang akan diumumkan pada saat Closing CC Cup 2022.</li>
	<li>Juara favorit akan divote oleh penonton melalui <i>Google Forms</i>.</li>
	<li>Juara 1 perlombaan Modern Dance CC Cup 2022 akan tampil pada saat closing acara CC Cup 2022.</li>
	</ol>
	</li>
	</ol>
	</div>
	<p id="gapm"></p>
{% endblock %}