{% extends "index\base.html" %}
{% block head %}
{% endblock %}
{% load static %}
{% block title %} Short Movie | CC Cup {% endblock %}
{% block content %}
	<p id="gap"></p>
	<div id="exp">
	<img src="{% static 'index/img/expand.png' %}" id="cpexpand">
	<div id="opsiexpand">
	<table id="layoutexp">
	<tr>
	<td colspan=2>Lukas</td>
	<td><a href="https://wa.me/6281297789768"><img src="{% static 'index/img/iconwa.png' %}" id="cpicon"></a></td>
	<td id="idline"><img src="{% static 'index/img/line.png' %}" id="cpicon"><div id="ket">lucasgang</div></td>
	</tr>
	<tr>
	<td colspan=2>Bryan</td>
	<td><a href="https://wa.me/62895333299250"><img src="{% static 'index/img/iconwa.png' %}" id="cpicon"></a></td>
	<td id="idline"><img src="{% static 'index/img/line.png' %}" id="cpicon"><div id="ket">bryken35</div></td>
	</tr>
	</table>
	</div>
	</div>
	<h3>ATURAN SHORT MOVIE</h3>
	<p id="judul">ATURAN SHORT MOVIE</p>
	<p id="gap"></p>
	<div id="materi">
	<h4>PERATURAN UMUM</h4>
	<ol>
	<li>Tema film yang diikutsertakan adalah <b>bebas.</b></li>
	<li>Genre film bebas selain <b>film dokumenter.</b></li>
	<li>Peserta dalam tim berjumlah minimal 3 orang dan maksimal 15 orang (tidak termasuk aktor/aktris).</li>
	<li>Peserta dalam tim wajib berasal dari sekolah yang sama dan berstatus sebagai pelajar SMA aktif tahun ajaran 2022/2023. Aktor/aktris diperbolehkan dari sekolah yang berbeda.</li>
	<li>Semua peserta pembuatan film wajib dicantumkan ke dalam <i>credits</i>.</li>
	<li>Kuota maksimal adalah 15 tim, dengan tiap sekolah mengirimkan maksimal 2 tim. Tim selain utama akan dimasukkan ke dalam <i>waiting list</i> terlebih dahulu.</li>
	<li>Film yang sudah pernah dilombakan di perlombaan/festival lainnya, diperbolehkan untuk ikut serta dalam perlombaan ini.</li>
	<li>Film yang sudah dilombakan di CC CUP sebelumnya, tidak diperkenankan untuk diikutsertakan dalam perlombaan ini kembali.</li>
	<li>Film yang diikutsertakan tidak boleh mengandung unsur ISU SARA (Suku, Agama, Ras dan Antargolongan) serta tidak mengandung unsur pornografi, kekerasan dan politik.</li>
	<li>Film yang diikutsertakan adalah film yang diproduksi pada tahun 2021-2022.</li>
	<li>Film yang diikutsertakan bukanlah film yang bersifat komersial (iklan, sponsor, endorse, dll).</li>
	<li>Film yang diikutsertakan merupakan karya orisinil peserta dan tidak mengandung unsur plagiarsime. Jika ditemukan hal serupa, maka juri berhak untuk mendiskualifikasi peserta.</li>
	<li>Juri akan memilih 3 film terbaik sebagai juara 1, 2, dan 3. Akan ada juara favorit berdasarkan jumlah <i>likes</i> trailer yang nantinya akan diupload di YouTube Canisius College Cup. Serta akan ada <i>Best Actor/Actress</i> berdasarkan penilaian juri. Apabila peserta sudah menjuarai juara 1, 2, dan 3 maka juara favorit akan diberikan pada jumlah likes terbanyak selain 3 juara tersebut. Namun, peserta yang sudah menjuarai juara 1, 2, 3 serta favorit masih bisa untuk memenangkan kategori <i>Best Actor/Actress</i>.</li>
	<li>Untuk kepentingan publikasi, film yang diikutsertakan CC CUP 2022 dapat digunakan sebagian atau utuh oleh Panitia CC CUP 2022.</li>
	</ol><br>
	<h4>KETENTUAN TEKNIS</h4>
	<ol>
	<li>Durasi film yang diikutsertakan minimal 12 menit dan maksimal 20 menit.</li>
	<li>Resolusi minimal 1080p.</li>
	<li>Film dikumpulkan dengan format .mp4</li>
	<li>Aspect ratio yang digunakan bebas.</li>
	<li>Peserta diperbolehkan syuting menggunakkan kamera apapun.</li>
	<li>Peserta diperbolehkan syuting menggunakkan editing software apapun.</li>
	<li>Jika terdapat dialog dalam bahasa asing, wajib mencantumkan subtitle dalam Bahasa Indonesia.</li>
	<li>Jika terdapat musik/soundtrack hasil karya orang lain, wajib mencantumkannya dalam credits.</li>
	<li>Peserta wajib menggunakkan bumper CC CUP 2022 di sebelum dan sesudah film. (Bumper akan diberikan selanjutnya).</li>
	<li>Peserta wajib mensubmit trailer untuk kepentingan publikasi.</li>
	<li>Peserta wajib mensubmit poster dalam bentuk A4 dengan format .jpg.</li>
	</ol><br>
	<h4>PENGUMPULAN DAN PENJURIAN</h4>
	<ol>
	<li>Peserta mengumpulkan film, data film, trailer beserta poster pada link yang diberikan panitia (link menyusul).</li>
	<li>Peserta maksimal mengumpulkan karya paling lambat pada (Tanggal menyusul). Keterlambatan pengumpulan akan dikenakan pengurangan poin dengan ketentuan sebagai berikut: pengurangan 1 poin untuk 1 jam pertama, 2 poin untuk jam kedua, 3 poin untuk jam ketiga dst., dan pengurangannya diakumulasi.</li>
	<li>Screening akan dilakukan secara luring di SMA Kanisius di Jl. Menteng Raya No, 64 Jakarta Pusat, DKI Jakarta. Bagi peserta yang berada di luar kota atau terkena COVID-19, maka akan disediakan <i>zoom meeting</i> agar tetap bisa mengikuti screening dari juri.</li>
	<li>Peserta wajib mengirimkan minimal 1 perwakilan untuk melakukan screening film bersama (waktu akan diberikan kemudian).</li>
	<li>Keputusan dewan Juri adalah mutlak dan tidak bisa diganggu gugat.</li>
	</ol>
	</div>
	<p id="gapm"></p>
{% endblock %}