{% extends "index\base.html" %}
{% block head %}
{% endblock %}
{% load static %}
{% block title %} Tae Kwon Do | CC Cup {% endblock %}
{% block content %}
	<p id="gap"></p>
		<div id="exp">
	<img src="{% static 'index/img/expand.png' %}" id="cpexpand">
	<div id="opsiexpand">
	<table id="layoutexp">
	<tr>
	<td colspan=2>Valen</td>
	<td><a href="https://wa.me/6281229038959"><img src="{% static 'index/img/iconwa.png' %}" id="cpicon"></a></td>
	</tr>
	<tr>
	<td colspan=2>Aaron</td>
	<td><a href="https://wa.me/6282114439486"><img src="{% static 'index/img/iconwa.png' %}" id="cpicon"></a></td>
	</tr>
	</table>
	</div>
	</div>
	<h3>ATURAN TAEKWONDO</h3>
	<p id="judul">ATURAN TAEKWONDO</p>
	<p id="gap"></p>
	<div id="materi">
	<h4>PERATURAN UMUM</h4>
	<ol>
	<li>Peserta lomba adalah siswa SMA atau Sederajat.</li>
	<li>Peserta harus mengisi formulir pendaftaran dan melampirkan fotokopi kartu pelajar masing-masing.</li>
	<li>Peserta membawa surat keterangan rekomendasi keikutsertaan dari sekolah yang bersangkutan dilengkapi stempel asli untuk menghindari hal-hal yang tidak diinginkan.</li>
	<li>Peserta atau sekolah bertanggung jawab penuh atas setiap peserta yang didaftarkan.</li>
	<li>Peserta wajib melakukan pendaftaran sesuai petunjuk yang telah diberikan panitia.</li>
	<li>Peserta wajib melakukan pembayaran uang WO dan pendaftaran.</li>
	<li>Satu sekolah minimal 4 peserta dan maksimal mengirimkan 8 Peserta.</li>
	<li>Setiap peserta wajib hadir paling lambat 15 menit sebelum jadwal tampil yang telah ditentukan.</li>
	<li>Apabila berhalangan, maka bisa menghubungi koordinator lomba Taekwondo (Valen:<a href="tel:+6281229038959" style="color:white">081229038959</a>)</li>
	</ol><br>
	<h4>KRITERIA PESERTA</h4>
	<ol>
	<li>Peserta yang mengikuti pertandingan hanyalah peserta yang <b>sudah</b> mendaftarkan diri lewat formulir pendaftaran yang disediakan dan sudah membayar ketentuan pendaftaran.</li>
	<li>Peserta yang mengikuti pertandingan <b>wajib</b> memiliki dan menunjukkan kartu peserta <b>(ID CARD)</b> yang sudah disediakan oleh panitia sebagai syarat untuk masuk area pertandingan.</li>
	<li>Peserta yang bertanding dibagi menjadi 6 kelas:
	<table id="penyisihan">
	<tr id="headcatur">
	<td><b>Kelas</b></td>
	<td><b>Berat</b></td>
	</tr>
	<tr id="colorblue">
	<td>Under 55 kg</td>
	<td>Tidak kurang dari 51 kg & tidak lebih dari 55 kg</td>
	</tr>
	<tr id="colorred">
	<td>Under 59 kg</td>
	<td>Tidak kurang dari 55 kg & tidak lebih dari 59 kg</td>
	</tr>
	<tr id="colorblue">
	<td>Under 63 kg</td>
	<td>Tidak kurang dari 59 kg & tidak lebih dari 63 kg</td>
	</tr>
	<tr id="colorred">
	<td>Under 68 kg</td>
	<td>Tidak kurang dari 63 kg & tidak lebih dari 68 kg</td>
	</tr>
	<tr id="colorblue">
	<td>Under 73 kg</td>
	<td>Tidak kurang dari 68 kg & tidak lebih dari 73 kg</td>
	</tr>
	<tr id="colorred">
	<td>Under 78 kg</td>
	<td>Tidak kurang dari 73 kg & tidak lebih dari 78 kg</td>
	</tr>
	</table>
	</li>
	<li>Setiap sekolah hanya diperbolehkan mengirimkan maksimal <b>8 peserta</b> untuk setiap kelasnya, kecuali tuan rumah. Kuota maksimum adalah <b>12 peserta per kelas</b>.</li>
	<li>Semua peserta wajib <b>menaati dan menghormati</b> segala keputusan wasit. Keputusan wasit bersifat mutlak dan tidak dapat diganggu gugat.</li>
	<li>Jika peserta melanggar peraturan yang sudah tertera, maka akan diberikan peringatan/teguran, dikenakan sanksi, bahkan didiskualifikasi dari pertandingan.</li>
	<li>Format pertandingan dapat berganti sewaktu-waktu tergantung jumlah peserta.</li>
	<li>Informasi lebih lengkap akan dijelaskan saat <i>Technical meeting</i>.</li>
	</ol><br>
	<h4>PERATURAN PERTANDINGAN</h4>
	<ol>
	<li>Pertandingan akan dilaksanakan dengan waktu 8 menit sudah termasuk istirahat serangan.</li>
	<li>Jadwal dan teknis pertandingan akan dijelaskan saat Technical meeting.</li>
	<li>Peraturan yang berlaku adalah peraturan yang telah ditetapkan oleh <b>PTI</b>.</li>
	<li>Bagian tubuh yang <b>tidak boleh</b> diserang saat pertandingan taekwondo berlangsung adalah: area leher ke atas (termasuk kepala), kemaluan.</li>
	<li>Bagian tubuh yang <b>boleh</b> diserang saat pertandingan taekwondo berlangsung adalah: dada, perut, pinggang kiri dan kanan, punggung, tangan, dan kaki.</li>
	<li>Pertandingan akan dinilai secara objektif dengan kriteria yang sudah ditentukan oleh juri dan panitia.</li>
	<li>Tidak ada toleransi berat badan.</li>
	<li>Penimbangan dilakukan 30 menit sebelum peserta yang bersangkutan mengikuti pertandingan sesuai dengan jadwal yang ditentukan.</li>
	<li>Penimbangan hanya dilakukan satu kali dan harus disaksikan oleh kedua official. Petugas penimbangan ditunjuk dan ditugaskan oleh Panitia.</li>
	<li>Untuk penimbangan, peserta harus berpakaian Taekwondo yang digunakan untuk bertanding, kering, tanpa sabuk, tanpa pelindung kemaluan dan pelindung sendi.</li>
	<li>Peserta yang tidak dapat memenuhi ketentuan berat badan dalam penimbangan menurut kelas yang diikutinya, dikenakan sanksi diskualifikasi.</li>
	<li>Ketika bertanding, tidak boleh menggunakan tangan untuk memukul atau mengincar lawan di area tanpa protector.</li>
	<li>Peserta akan dibubarkan dan balik ke posisi awal oleh panitia ketika salah satu peserta diserang terus-menerus.</li>
	<li>Peserta akan balik ke posisi awal oleh panitia ketika kedua peserta tidak ada usaha menyerang selama 5 detik.</li>
	<li>Poin maksimal yaitu 25.</li>
	<li>Setiap peserta harus membawa surat keterangan sehat yang sah yaitu surat keterangan sehat yang dikeluarkan oleh dokter instansi Rumah Sakit/puskesmas yang berwenang (maksimal 1 minggu sebelum pelaksanaan pertandingan).</li>
	<li>Apabila sebelum pertandingan dimulai peserta tidak dapat menunjukkan surat keterangan kesehatan akan dikenakan diskualifikasi.</li>
	<li>Akan terdapat 2 pemenang dari kelas berat masing-masing, dan untuk pemilihan juara pertama akan dipilih berdasarkan performa dari kedua pemenang.</li>
	</ol>
	</div>
	<p id="gapm"></p>
{% endblock %}