{% extends "index\base.html" %}
{% block head %}
{% endblock %}
{% load static %}
{% block title %} Tenis Meja | CC Cup {% endblock %}
{% block content %}
	<p id="gap"></p>
			<div id="exp">
	<img src="{% static 'index/img/expand.png' %}" id="cpexpand">
	<div id="opsiexpand">
	<table id="layoutexp">
	<tr>
	<td colspan=2>Dewin</td>
	<td><a href="https://wa.me/6287776657926"><img src="{% static 'index/img/iconwa.png' %}" id="cpicon"></a></td>
	</tr>
	<tr>
	<td colspan=2>David</td>
	<td><a href="https://wa.me/6281281551710"><img src="{% static 'index/img/iconwa.png' %}" id="cpicon"></a></td>
	</tr>
	</table>
	</div>
	</div>
	<h3>ATURAN TENIS MEJA</h3>
	<p id="judul">ATURAN TENIS MEJA</p>
	<p id="gap"></p>
	<div id="materi">
	<h4>PERATURAN UMUM</h4>
	<ol>
	<li>Peraturan umum yang berlaku dalam pertandingan tenis meja pada Canisius College Cup 2022 adalah peraturan umum yang berlaku di ITTF (International Table Tennis Federation) saat ini, dengan berbagai modifikasi yang dijelaskan di bawah ini.</li>
	<li>Peserta diharapkan untuk menjaga ketertiban, dan dilarang keras menimbulkan perselisihan dengan peserta lain. Segala bentuk perselisihan tidak akan ditolerir dan akan mengakibatkan diskualifikasi kepada <b>pihak yang memulai</b> perselisihan tersebut.</li>
	<li>Peserta diwajibkan untuk hadir di arena pertandingan paling lambat 15 menit sebelum jadwal pertandingan yang telah ditentukan. Apabila ternyata peserta belum datang pada jadwal yang telah ditentukan, maka akan dilakukan 3 kali panggilan. Panggilan pertama dimulai pada jadwal yang telah ditentukan, dan setiap panggilan memiliki selang waktu 5 menit. Apabila 5 menit setelah panggilan ketiga (berarti 15 menit setelah waktu yang dijadwalkan) peserta belum dapat hadir di arena pertandingan, maka peserta yang tidak hadir tersebut dianggap kalah WO.</li>
	<li>Peserta dikenakan  kekalahan WO (Walk Over) apabila :
	<ol type="a">
	<li>Peserta tidak hadir di arena pertandingan sesuai dengan ketentuan nomor 3 di atas.</li>
	<li>Peserta yang bertanding tidak sesuai dengan ID Card dan tidak terdaftar di sekretariat sebagai peserta pertandingan tenis meja CC Cup 2022 yang sah.</li>
	<li>Peserta tidak menggunakan pakaian yang sesuai dengan ketentuan yang berlaku.</li>
	<li>Peserta tidak memiliki perlengkapan pertandingan yang wajib dibawa peserta.</li>
	</ol>
	</li>
	<li>Kekalahan WO yang dimaksud adalah :
	<ol type="a">
	<li>Peserta yang bersangkutan menerima kekalahan 11-0 tiap gamenya dengan kekalahan tim 3-0 pada babak group, dan kekalahan 2-0 pada babak gugur. Dengan demikian, peserta akan secara otomatis tersingkir dari kompetisi apabila kalah WO pada babak gugur.</li>
	</ul>
	</li>
	<li>Perwakilan masing-masing tim (bukan pelatih) diwajibkan untuk menandatangani scoresheet setelah pertandingan berakhir.</li>
	</ol><br>
	<h4>KETENTUAN PESERTA</h4>
	<ol type="A">
	<li><h5>KRITERIA PESERTA</h5>
	<ol>
	<li>Peserta yang berhak mengikuti pertandingan tenis meja CC Cup 2022 ini adalah siswa SMA dan sederajat dari sebuah sekolah saja, pada tahun ajaran 2022/2023. Peserta mewakili sekolah yang bersangkutan, dan tidak mewakili yayasan dari sekolah tersebut. (Sekolah beda tetapi satu yayasan, tidak dapat mendaftar sebagai satu tim).</li>
	<li>Pertandingan Tenis Meja CC Cup 2022 hanya dibuka untuk pelajar putra saja.</li>
	<li>Bagi individu yang tidak memenuhi syarat-syarat di atas tidak diperkenankan untuk berpartisipasi dalam CC Cup 2022.</li>
	</ol>
	</li>
	<li><h5>ID CARD</h5>
	<ol>
	<li>ID Card akan diberikan kepada setiap peserta yang telah melengkapi syarat administratif dan ketentuan lainnya, dan telah sah dinyatakan sebagai peserta CC Cup 2022.</li>
	<li>ID Card yang telah diberikan, <b>wajib</b> dibawa setiap kali melakukan pertandingan. Apabila peserta yang akan bertanding tidak membawa ID Card, maka peserta tersebut dianggap menerima kekalahan WO, sebagaimana telah dijelaskan pada bagian <b>Peraturan Umum, Poin nomor 4 dan 5.</b></li>
	<li>Pihak penyelenggara CC Cup 2022 dan segenap Keluarga Besar Kolese Kanisius (KBKK) tidak bertanggung jawab atas kehilangan ID Card peserta. Apabila ID Card peserta hilang atau rusak, maka peserta yang bersangkutan diwajibkan untuk menghubungi pihak sekretariat.</li>
	<li>ID Card yang dikeluarkan oleh pihak panitia CC Cup 2022 hanya berlaku selama CC Cup 2022 berlangsung.</li>
	</ol>
	</li>
	<li><h5>TIM</h5>
	<ol>
	<li>Pertandingan Tenis Meja CC Cup 2022 menggunakan sistem tim.</li>
	<li>1 Tim <b>minimal</b> terdiri atas 3 orang peserta, dan <b>maksimal</b> terdiri dari 5 orang peserta.</li>
	<li>Sebelum pertandingan dimulai, peserta (tim) diwajibkan menyerahkan daftar pemain yang akan bertanding untuk tiap partainya kepada wasit atau petugas yang sedang bertugas, <b>tanpa adanya perjanjian dalam bentuk apapun dengan tim lawan.</b></li>
	<li>Dalam setiap tim, <b>hanya diperbolehkan 1</b> anggota tim yang bermain rangkap.</li>
	<li>Pemain cadangan diperbolehkan dalam tim. Pemain cadangan dapat dimainkan apabila salah anggota tim utama berhalangan hadir. Tim dapat melakukan rotasi pemain, dengan pemain yang telah terdaftar dalam tim tersebut.</li>
	</ol>
	</li>
	</ol><br>
	<h4>SERAGAM DAN PERALATAN</h4>
	<ol type="A">
	<li><h5>SERAGAM</h5>
	<ol>
	<li>Peserta dalam 1 tim yang sama <b>wajib mengenakan</b> pakaian tim.</li>
	<li>Pakaian tim meliputi <b>baju</b> dengan <b>warna</b> dan <b>motif</b> yang sama, serta <b>celana berwarna dasar sama</b>. (Untuk celana, diperbolehkan berbeda motif, asal <b>warna dasar atau warna yang dominan sama untuk tiap anggota tim)</b></li>
	<li>Warna pakaian <b>tidak diperbolehkan</b> berwarna sama dengan warna bola. (Pertandingan CC Cup akan menggunakan bola berwarna putih)</li>
	<li>Peserta diwajibkan menggunakan <b>sepatu olahraga</b> dalam pertandingan.</li>
	<li>Peserta yang tidak menggunakan seragam tim ketika akan bertanding, akan menerima kekalahan WO, sebagaimana telah dijelaskan pada bagian Aturan Umum, Poin nomor 4 dan 5.</li>
	</ol>
	</li>
	<li><h5>PERLENGKAPAN PERTANDINGAN</h5>
	<ol>
	<li>Bola tenis meja, meja tenis meja, dan net disediakan oleh panitia.</li>
	<li>Peserta diwajibkan menggunakan bat tenis meja masing-masing.</li>
	<li>Bat tenis meja yang digunakan peserta, wajib memenuhi ketentuan sebagai berikut :
	<ol type="a">
	<li>Memiliki karet <b>di kedua sisinya</b>, satu sisi berwarna <b>merah</b>, dan sisi lainnya berwarna <b>hitam</b>. Peserta dilarang menggunakan warna karet lain, terutama menggunakan warna karet yang sama untuk kedua sisinya.</li>
	<li>Segala jenis karet <b>diperbolehkan</b> dalam pertandingan, asalkan memiliki logo <b>ITTF</b> yang tertera pada karet bat tersebut. Logo ini wajib ada pada kedua sisi karet bat. Yang dimaksud adalah logo ITTF seperti ini:</li>
	<img src="{% static 'index/img/logoittf.png' %}" id="logokhusus">
	<li>Khusus untuk bat berbintik, memiliki kepadatan bintik <b>melebihi</b> 10 bintik / cm<sup>2</sup> dan <b>kurang dari</b> 30 bintik / cm<sup>2</sup></li>
	<li>Tidak memiliki lubang dengan diameter yang melebihi batas wajar. Batas wajar akan ditentukan oleh wasit sebelum bertanding. Apabila bat peserta dianggap tidak wajar, maka peserta tersebut diperbolehkan meminjam bat dari peserta lain.</li>
	<li>Luas penampang karet tidak melebihi luas penampang kayu.</li>
	</ol>
	</li>
	<li>Sebelum pertandingan dimulai, peserta berhak untuk menginspeksi bat lawan tandingnya.</li>
	<li>Sebelum pertandingan dimulai, bat masing-masing peserta wajib diserahkan kepada wasit untuk diinspeksi kelayakannya.</li>
	<li>Peserta tidak diperkenankan untuk mengganti bat setelah pertandingan dimulai. Dalam pergantian set, bat wajib diletakkan di atas meja, dan tidak disentuh hingga pertandingan dimulai kembali. Apabila ternyata bat mengalami kerusakan parah ketika pertandingan sudah berlangsung, maka pergantian bat diperbolehkan, asalkan bat yang baru memenuhi syarat dan telah diinspeksi wasit. Kerusakan parah yang dialami harus telah dilihat wasit dan disetujui oleh pihak wasit. Kerusakan parah terjadi apabila bat yang mengalami kerusakan dinilai wasit tidak layak pakai.</li>
	<li>Peserta yang melanggar ketentuan akan perlengkapan pertandingan, akan mengalami kekalahan WO pada pertandingan yang akan dijalankan hari itu, sebagaimana telah dijelaskan pada bagian Aturan Umum, Poin nomor 4 dan 5.</li>
	</ol>
	</li>
	</ol>
	<br>
	<h4>PERATURAN PERTANDINGAN</h4>
	<ol type="A">
	<li><h5>SISTEM SKOR</h5>
	<ol>
	<li>Setiap pertandingan dijalankan dengan sistem <b>two-winning set (The best of three)</b> untuk babak penyisihan sampai dengan babak semifinal.</li>
	<li>Babak perebutan juara 3 dan final menggunakan sistem <b>three-winning set  (The best of five).</b></li>
	<li>Setiap set memiliki poin normal 11.</li>
	<li>Sistem deuce akan berlaku tanpa batas, di mana pemain terus mencari selisih 2 poin apabila kedua pemain telah memiliki kedudukan 10-10 dan seterusnya.</li>
	<li>Apabila bat pemain menyentuh meja ketika rally sedang berlangsung, atau ketika melakukan servis, maka akan dianggap fault dan berbuah poin bagi lawan.</li>
	</li>
	</ol>
	</ol><br>
	<h4>KUOTA PESERTA</h4>
	<ol>
	<li>Kuota Peserta pada pertandingan tenis meja ini adalah 16 tim peserta.</li>
	<li>Peserta terbagi dalam 4 group yang  berbeda.</li>
	<li>Untuk ketentuan tim, dan persyaratannya, dapat dilihat pada bagian Peserta di atas. (Poin II)</li>
	<li>Setiap sekolah, maksimal mengirimkan 1 tim untuk bertanding pada cabang tenis meja CC Cup 2022.</li>
	<li>Tim tuan rumah diperbolehkan mengirimkan lebih dari satu tim untuk bertanding pada cabang tenis meja CC Cup 2022.</li>
	</ol><br>
	<h4>SISTEM PERTANDINGAN</h4>
	Pertandingan akan terbagi menjadi 2, yaitu babak pool dan babak gugur.
	<ol type="A">
	<li><h5>BABAK POOL</h5>
	<ol>
	<li>Pada babak pool, setiap pertandingan menjalankan 3 buah partai (Tunggal 1 – Ganda – Tunggal 2), <b>tanpa melihat kemenangan pada dua partai pertama.</b></li>
	<li>Setiap pertandingan pool menggunakan sistem <b>two-winning-set.</b></li>
	<li>Peserta yang lolos ke babak gugur adalah peserta yang meraih 2 peringkat teratas di pool nya masing-masing.</li>
	<li>Kemenangan akan memperoleh poin +3 , kekalahan akan memperoleh poin 0.</li>
	<li>Tim yang kalah Walk Over (WO) akan memperoleh poin 0.</li>
	<li>Apabila pada akhirnya terdapat 2 tim yang memiliki perolehan poin sama, maka peringkat dalam pool ditentukan dari banyaknya partai yang dimenangkan oleh tim yang bersangkutan. Apabila ternyata masih memiliki perolehan yang sama, maka akan diadakan permainan tunggal antara kedua tim (1 orang saja) dengan sistem <b>one-winning set</b> untuk menentukan peringkat.</li>
	</ol>
	</li>
	<li><h5>BABAK GUGUR</h5>
	<ol>
	<li>Permainan pada babak gugur berlangsung hingga satu tim mendapatkan 2 kemenangan pada 2 partai yang berbeda.</li>
	<li>Setiap partai menggunakan sistem <b>three-winning-set</b>. Khusus babak perebutan juara 3 dan babak final, menggunakan sistem <b>four-winning set.</b></li>
	<li>Tim yang kalah akan langsung gugur, dan semi finalis yang kalah akan bertanding pada perebutan juara ketiga.</li>
	</ol>
	</li>
	</ol><br>
	<h4>BAGAN PERTANDINGAN</h4>
	<img src="{% static 'index/img/bagantenismeja.jpeg' %}" id="bagan"><br><br>
	<img src="{% static 'index/img/bagantenismeja2.jpeg' %}" id="bagan">
	</div>
	<p id="gapm"></p>
{% endblock %}