{% extends "index\base.html" %}
{% block head %}
{% endblock %}
{% load static %}
{% block title %} Wall Climbing | CC Cup {% endblock %}
{% block content %}
	<p id="gap"></p>
			<div id="exp">
	<img src="{% static 'index/img/expand.png' %}" id="cpexpand">
	<div id="opsiexpand">
	<table id="layoutexp">
	<tr>
	<td colspan=2>Eugene</td>
	<td><a href="https://wa.me/6287884874676"><img src="{% static 'index/img/iconwa.png' %}" id="cpicon"></a></td>
	<td id="idline"><img src="{% static 'index/img/line.png' %}" id="cpicon"><div id="ket">id_line_eugene</div></td>
	</tr>
	</table>
	</div>
	</div>
	<h3>ATURAN WALL CLIMBING</h3>
	<p id="judul">ATURAN WALL CLIMBING</p>
	<p id="gap"></p>
	<div id="materi">
	<h4>PERATURAN UMUM</h4>
	<ol>
	<li>Perlombaan yang diselenggarakan adalah Perlombaan Panjat Tebing kategori Lead menggunakan “quick draw” atau “runner”.</li>
	<li>Peraturan yang dipakai dalam perlombaan adalah peraturan dari pihak FPTI yang berlaku.</li>
	</ol><br>
	<h4>KETENTUAN PESERTA</h4>
	<ol>
	<li>Peserta yang mendaftar merupakan siswa tingkat SMA atau sederajat (MA / SMK) dan wajib menyertakan kartu pelajar aktif.</li>
	<li>Peserta yang mendaftar bukan merupakan atlet kabupaten/kota, provinsi, maupun nasional.</li>
	<li>Peserta yang mendaftar wajib mengikuti technical meeting dan daftar ulang.</li>
	<li>Peserta yang mendaftar wajib didampingi oleh 1 manager per sekolah.</li>
	<li>Tim Peserta akan dinyatakan Diskualifikasi jika:
	<ol type="a">
	<li>Tim peserta melakukan tindakan yang tidak sportif (berbuat curang, berkelahi, dsb).</li>
	<li>Tim peserta memprovokasikan perkelahian kepada tim peserta lainnya.</li>
	<li>Tim peserta merusak properti perlengkapan pertandingan Wall Climbing CC CUP 2022.</li>
	<li>Tim peserta melakukan pelanggaran lainnya secara sengaja maupun tidak sengaja (berdasarkan seberapa buruk pelanggarannya).</li>
	</ol>
	</li>
	</ol><br>
	<h4>KUOTA TIM/PESERTA</h4>
	<ol>
	<li>Setiap sekolah maksimal mengirimkan 2 peserta putra dan 2 peserta putri.<br>NB: *Perlombaan kategori “Lead Putri” langsung memakai peraturan Semi-Final dan Final dengan jumlah pemanjatan hanya satu kali per peserta.</li>
	</ol><br>
	<h4>KOSTUM</h4>
	<ol>
	<li>Kostum pemain adalah kostum bebas, namun sopan dan tidak bersponsor.</li>
	<li>Boleh menggunakan sepatu panjat.</li>
	</ol><br>
	<h4>PERATURAN PERTANDINGAN</h4>
	<ol type="A">
	<li><h5>BABAK KUALIFIKASI</h5>
	<ol>
	<li>Perlombaan akan dilaksanakan dengan menggunakan sistem “difficult”.</li>
	<li>Saat memasuki wilayah SMA Kanisius, peserta wajib memasuki ruang karantina, dan tidak diperbolehkan keluar sebelum dipanggil untuk melakukan pengamatan jalur.</li>
	<li>Tim Peserta akan dinyatakan Walk Out (WO) jika tim peserta terlambat lebih dari 10 Menit dengan jadwal pertandingan yang ditetapkan oleh tim panitia dan tidak sesuai dengan daftar peserta perlombaan Wall Climbing CC CUP 2022.</li>
	<li>Peserta diberikan waktu 5 menit untuk mengamati jalur (Orientasi Medan).</li>
	<li>Peserta memanjat selama waktu yang diberikan yaitu 6 menit maksimal.</li>
	<li>Protes ke juri dapat dilakukan maksimal 10 menit setelah hasil babak.</li>
	<li>Dinding pemanjatan yang dipakai mengunakan fiber dan rangka besi (standar nasional).</li>
	</ol>
	</li>
	<li><h5>SEMI-FINAL DAN FINAL</h5>
	<ol>
	<li>Perlombaan akan dilaksanakan dengan menggunakan sistem “difficult”.</li>
	<li>Saat memasuki wilayah SMA Kanisius, peserta wajib memasuki ruang karantina, dan tidak diperbolehkan keluar sebelum dipanggil untuk melakukan pengamatan jalur.</li>
	<li>Tim Peserta akan dinyatakan Walk Out (WO) jika tim peserta terlambat lebih dari 10 Menit dengan jadwal pertandingan yang ditetapkan oleh tim panitia dan tidak sesuai dengan daftar peserta perlombaan Wall Climbing CC CUP 2022.</li>
	<li>Peserta diberikan waktu 5 menit untuk mengamati jalur (Orientasi Medan).</li>
	<li>Peserta memanjat selama waktu yang diberikan yaitu 7 menit maksimal.</li>
	<li>Protes ke juri dapat dilakukan maksimal 10 menit setelah hasil babak.</li>
	<li>Dinding pemanjatan yang dipakai mengunakan fiber dan rangka besi (standar nasional).</li>
	</ol>
	</li>
	</ol><br>
	<h4>LAIN-LAIN</h4>
	<ol>
	<li>Penilaian pemanjatan akan dilakukan oleh juri FPTI. Pemanjatan akan direkam dengan tujuan untuk menjadi bukti bila ada peserta yang tidak setuju dengan penilaian juri, sehingga penilaian juri bisa dipertanggungjawabkan.</li>
	<li>Peserta wajib hadir dalam ruang karantina maksimal 30 menit sebelum berjalannya pertandingan.</li>
	</ol>
	</div>
	<p id="gapm"></p>
{% endblock %}